/*TODO recolor screen div, recolor ops, equals diff colour*/

button:hover {
    cursor: pointer;
}

button {
    font-size: 2em;
}

.clear {
    grid-column: 1 / span 2;
}

.equals {
    grid-column: 3 / span 2;
}

