.screen-wrapper {
    width: 100%;
    height: 15%;
    align-items: center;
    background-color: lightslategray;
    border-radius: 5px;
    padding: 1%;
}

.question-row {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color:black;
    color:darkorange;
    font-size: 1.5rem;
    padding-right: 1%;
}

.answer-row {
    height: 65%;
    width: 100%;
    align-items: center;
    display:flex;
    flex-direction: row-reverse;
    background-color:black;
    color:darkorange;
    font-size: 2.5rem;
    padding-right:1%;
}